* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato";
}


.center {
    max-width: 1800px;
    padding: 0px 2%;
    margin: 0 auto;
}


@keyframes animation1 {
    0% {
        color: white;
    }

    25% {
        color: green;
    }

    50% {
        color: orange;
    }

    100% {
        color: white;
    }


}

.parallax-1 {
    width: 100%;
    height: 100vh;
    background-image: url("1_37.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.parallax-1 .content h2 {
    font-size: 60px;
    letter-spacing: 3px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    animation: animation1 2s ease-in infinite;
}

@keyframes animation1 {
    0% {
        color: white;
    }

    25% {
        color: green;
    }

    50% {
        color: orange;
    }

    100% {
        color: white;
    }


}


.section1 {
    padding-top: 60px;
    background: linear-gradient(white, rgb(233, 233, 233));
}

.section1:hover {
    background: linear-gradient(white, rgb(161, 161, 161));

}


.section1 h2 {
    text-align: center;
    font-size: 35px;
    color: #272727;
}

.section1 p {
    line-height: 1.5em;
    margin-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}

.parallax-2 {
    width: 100%;
    height: 40vh;
    background-image: url("https://miro.medium.com/v2/resize:fit:1400/0*-pOySD-Yf6yiyInP.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.parallax-2 .content h2 {
    font-size: 35px;
    color: white;
    letter-spacing: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    text-align: center;
}

.section2 {
    padding-top: 60px;
    background: linear-gradient(#282e34, #15191c);
}

.section2:hover {
    background: linear-gradient(#282e34, #535353);
}

.section2 h2 {
    text-align: center;
    font-size: 35px;
    color: white;
}

.section2 p {
    line-height: 1.5em;
    margin-top: 20px;
    padding-bottom: 60px;
    color: white;
    text-align: center;
}

.parallax-3 {
    width: 100%;
    height: 40vh;
    background-image: url("https://cdnb.artstation.com/p/assets/images/images/030/024/421/large/julian-gariba-test.jpg?1599376012");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.parallax-3 .content h2 {
    font-size: 35px;
    color: white;
    letter-spacing: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    text-align: center;
}

.section3 {
    padding-top: 60px;
    background: linear-gradient(#282e34, #15191c);
}

.section3:hover {
    background: linear-gradient(#282e34, #535353);
}

.section3 h2 {
    text-align: center;
    font-size: 35px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.section3 p {
    line-height: 1.5em;
    margin-top: 20px;
    padding-bottom: 60px;
    color: white;
    text-align: center;
    
}

.parallax-2 h2, .parallax-3 h2{
    animation: animation-parallax 5s linear infinite;
}

@keyframes animation-parallax {
    0% {
        opacity: 100%;
    }

    50% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}